#main-page {
    margin: 100px 0 0 0;
}

#window {
    border: 1px solid;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

#window img {
    width: 200px;
   /* transform: translate(-200px,0); */
    animation: move 1s infinite;
} 

@keyframes move {
    from {
        transform: translatex(0%);
    }
    to {
        transform: translatex(-300%);
    }

}